.TimeSlotItem {
  padding: 8px;
  margin:  5px;
}

.TimeSlotItem:hover, .TimeSlotItem:focus {
  background-color: #0074d9;
  color: white;
}

.TimeSlotItem h4 {
  display: block;
  margin:  8px;
}

.TimeSlotItem p {
  display: block;
}
